
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apprenticeship service research
      </h1>
     
      <p class="govuk-body">We're about to show you some sections from a legal agreement that we're trying to make easier to understand.</p>

      <p class="govuk-body">Each page will have the same section written in 2 different ways.</p>

      <p class="govuk-body">Highlight any words and phrases that you don’t understand.</p>

      <br><br>

      <p class="govuk-body">
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </p>

    </div>
</div>

{% endblock %}
